html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
p{
    color: #575757;
}
span{
    color: #048bf7;
}

/*-- Navbar --*/

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 50px;
    box-shadow: 1px 1px 10px #8cc8e9;
    background-color: whitesmoke;
    color: #048bf7;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    padding-right: 20px;
    transition: 0.5s;
}
.navbar ul li{
    padding-right: 40px;
}
.navbar ul li a{
    text-decoration: none;
    color: #048bf7;
    padding: 10px 15px;
    border-radius: 25px;
    transition: .6s;
}
.navbar ul li a:hover{
    background-color: #048bf7;
    color: white;
}
.navbar span{
    color: #575757;
}

/*-- Home --*/

#home,#about,#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #575757;
    height: 700px;
}
.half-width{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.half-width p{
    margin-bottom: 40px;
}
.half-width img{
    height: 100%;
}
.button{
    color: white;
    background-image: linear-gradient(to right,#8cc8e9,#008cff) ;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
}

/*-- About --*/

#about{
    background-image: url(images/background/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- Recipie --*/

.recipie-heading{
    text-align: center;
    padding: 40px 30%;
    color: #575757;
}
.recipie-box{
    display: flex;
    width: 100%;
    justify-content: center;
}
.recipie-item{
    width: 20%;
    padding: 20px;
    margin: 0 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #8cc8e9;
 
}
.recipie-item img{
    width: 100%;
    border-radius: 20px;
}
.recipie-item p{
    margin-bottom: 30px;
}

/*-- Subscribe --*/

.subscriber{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 14%;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #8cc8e9;
}
.subscriber div{
    margin: 25px 80px;
}
.subscriber h1{
    margin: 0;
}

/*-- Contact Us --*/

#contact{
    background-image: url(images/background/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.half-width form input,.half-width form textarea{
    display: block;
    width: 250px;
    padding: 15px 150px 15px 20px;
    border-radius: 10px;
    margin: 10px;
    border: #8cc8e9 2px solid;
    outline: none;
}
.half-width form button,.half-width form h2{
    display: block;
    border: none;
    margin: 20px 10px;
}
button{
    cursor: pointer;
}

/*-- Footer --*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer div{
    padding: 20px 0 40px 0;
}
footer div h3{
    color: #575757;
}
footer div p{
    color: white;
}





